[submodule "yolo-nas-ros"]
	path = yolo-nas-ros
	url = https://github.com/Alaaeldinn/yolo-nas-ros.git
[submodule "esp32node-ros"]
	path = esp32node-ros
	url = https://github.com/Alaaeldinn/esp32node-ros.git
[submodule "MiDaS"]
	path = MiDaS
	url = https://github.com/isl-org/MiDaS.git
[submodule "RPLidar_Hector_SLAM"]
	path = RPLidar_Hector_SLAM
	url = https://github.com/NickL77/RPLidar_Hector_SLAM.git
[submodule "ORB_SLAM3"]
	path = ORB_SLAM3
	url = https://github.com/UZ-SLAMLab/ORB_SLAM3.git
[submodule "orb_slam3_ros_wrapper"]
	path = orb_slam3_ros_wrapper
	url = https://github.com/thien94/orb_slam3_ros_wrapper.git
